body {
  text-align: center;
  font-family: "Krona One", sans-serif;
  box-sizing: border-box;
  background-color: rgb(199, 151, 63);
  color: #333333;
  display: flex;
  justify-content: center;
}

.list-box {
  display: flex;
  position: absolute;
  justify-content: left;
  min-width: 400px;
  width: 30vw;
  height: 60vh;
  margin-top: 20vh;
  border-left: 8px solid #333333;
}

ul {
  font-size: 1rem;
  list-style-type: none;
}

.projects {
  font-size: 2.5rem;
}

.social-icon {
  position: relative;
  bottom: 0;
  left: -13rem;
  width: 2rem;
}

.linked {
  margin-left: 1rem;
}

a {
  margin-top: 52vh;
  font-size: 4rem;
}

a:hover {
  color: aquamarine;
}

.ant1 {
  width: 10vw;
  position: fixed;
  bottom: 0;
  right: 10vh;
}

.ant2 {
  width: 10vw;
  position: absolute;
  left: 10vw;
  top: 10vh;
}

.ant3 {
  top: 30vh;
  width: 9vw;
  position: absolute;
  right: 20vw;
}
