body {
  text-align: center;
  font-family: "Josefin Sans";
  box-sizing: border-box;
  background-color: rgba(141, 74, 74, 0.699);
  color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.list-box {
  display: flex;
  position: absolute;
  justify-content: left;
  min-width: 250px;
  max-width: 70vw;
  width: 30vw;
  height: 50vh;
  margin: 15vh 0 0 -5vw;
  text-align: left;
}

a,
a:visited {
  text-decoration: none;
  color: #f7f7f7;
}

li {
  margin-top: 1rem;
}

.project-items:hover {
  opacity: 100%;
}

ul {
  margin-left: -6vw;
  font-size: 0.9rem;
  list-style-type: none;
}

.projects-heading {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.bread-text {
  bottom: 2.8vh;
  transition: 0.3s;
  padding: 5px;
  border: 1px solid white;
  margin-top: 0.4rem;
  font-size: 0.6rem;
}

.social-box {
  position: fixed;
  bottom: 0vh;
  opacity: 90%;
  left: 3vw;
}

.social-icon {
  width: 2rem;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 50%;
}

.linked {
  margin-left: 1rem;
}

.social {
  margin-top: 52vh;
  font-size: 4rem;
}

.ant1 {
  width: 31px;
  position: fixed;
  bottom: 0;
  right: 10vh;
}

.ant2 {
  width: 32px;
  position: absolute;
  left: 10vw;
  top: 6vh;
}

.ant3 {
  z-index: 5;
  width: 27px;
  top: 15vh;
  margin-left: 5vw;
  position: fixed;
  right: 20vw;
}

.steps {
  width: 10rem;
  position: fixed;
  top: 0;
  right: -2rem;
}

@media only screen and (min-width: 530px) {
  ul {
    margin-left: 0;
  }

  .list-box {
    border-left: 2px solid #e7e7e7;
    margin-top: 20vh;
    height: 60vh;
  }
  .social-box {
    position: absolute;
    bottom: 0.5vh;
    opacity: 90%;
  }
  .ant3 {
    top: 30vh;
    margin-left: 10vw;
    right: 2vw;
  }
  .steps {
    width: 50vw;
  }
}

@media only screen and (min-width: 750px) {
  .list-box {
    border-left: 2px solid #e7e7e7;
    margin-top: 20vh;
  }

  .bread-text {
    transition: 0.12s;
    font-size: 0;
    opacity: 0;
  }

  .ant3 {
    top: 30vh;

    right: 15vw;
  }

  .steps {
    width: 20vw;
  }
}

@media only screen and (min-width: 1050px) {
  .ant3 {
    top: 30vh;
    right: 35vw;
  }
  .ant1 {
    width: 40px;
    right: 40vh;
  }
  .steps {
    width: 17vw;
  }
}
