body {
  text-align: center;
  font-family: "Lacquer", sans-serif;
  box-sizing: border-box;
  background-color: rgb(199, 151, 63);
  color: #333333;
}

h1 {
  font-size: 16vw;
  margin: 4.5vh 3vw 0 3vw;
  opacity: 1;
  transition: 2.5s;
}

a {
  font-family: sans-serif;
  font-size: 3vw;
  transition: 1s;
}

a:link,
a:visited {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

.ant {
  width: 10vw;
  position: fixed;
  bottom: 0;
  right: 10vh;
}

.ant2 {
  width: 10vw;
  position: relative;
  left: -40vw;
  top: 2rem;
}
